:root {
    --bg-color: rgba(0, 0, 0, 1);
    --color-text: rgba(217, 217, 217, 1);
    --bg-primary: rgba(53, 0, 17, 1);
    --bg-secondary: rgba(82, 0, 26, 1);
    --bg-grey: rgba(53, 54, 54, 1);
    --card-transform: 0;
    --transition: transform 0.5s;
}

body {
    background: linear-gradient(to right, black 0%, rgba(66, 1, 1, 0.788) 50%, black 100%);
    font-family: "Roboto", sans-serif;
}

section {
    & div {
        max-width: 1200px;
    }
}

#container_aventure {
    position: relative;
}

#container_comedia {
    position: relative;
}

#container_accion {
    position: relative;
}

#container_drama {
    position: relative;
}

#container_terror {
    position: relative;
}

#container_ficcion {
    position: relative;
}

#container_romance {
    position: relative;
}

#container_documental {
    position: relative;
}

#container_animacion {
    position: relative;
}

#container_crimen {
    position: relative;
}


h2 {
    font-family: "Oswald", sans-serif;
    padding-bottom: 5px;
    border-bottom: 1px solid #c2c2c23a;
    text-shadow: 10px -3px 5px rgba(77, 77, 77, 0.753);
}



.cards {
    position: relative;
    text-align: center;
    flex: 0 0 auto;
    width: calc((1100px - 80px) / 4);
    height: 400px;
    display: inline-block;
    margin-right: 20px;
    transform: translateX(var(--card-transform));
    transition: var(--transition);
    box-sizing: border-box;
    border-radius: 15px;

}

.cards .content {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    transition: all 550ms cubic-bezier(0.1, 0.22, 0.8, 1.13);
    transform-style: preserve-3d;
    border-radius: 15px;
}

.content .front {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    backface-visibility: hidden;
}

.content .back {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    color: #f5f2f2;
}

.opacity {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 1.25rem;
    text-align: center;
    display: grid;
    place-items: center;
    padding: 32px;
    border-radius: 15px;

}

.overview {
    box-sizing: border-box;
    font-size: 15px;
    max-height: 180px;
    text-align: left;

}

.scroll {
    overflow-y: scroll;
    /* Habilita el scrollbar vertical */
    padding-right: 10px;
}

.scroll::-webkit-scrollbar {
    width: 10px;
}

.scroll::-webkit-scrollbar-track {
    background: transparent;
    /* Color del track del scrollbar */
}

.scroll::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
    margin-left: 5px;

}

.scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.cards:hover .content {
    transform: rotateY(-180deg);
}

.arrow {
    border: none;
    cursor: pointer;
    background-color: transparent;
    transition: background-color ease-out 0.5s;
    align-self: center;
    height: 100px;
    border-radius: 15px;
    background-color: rgba(247, 246, 246, 0.137);
}

.arrow:hover {
    background-color: rgba(247, 246, 246, 0.432);
}

footer {
    margin-top: 20px;
    background-color: rgba(10, 10, 10, 0.5);
    color: white;
    padding: 20px;
    text-align: center;
}

footer .contact-info {
    display: flex;
    justify-content: center;
    align-items: center;

}

footer .contact-item {
    margin: 0 10px;

}

footer .contact-item a {
    text-decoration: none;
    color: white;
}