:root {
    --bg-color: rgba(0, 0, 0, 1);
    --color-text: rgba(217, 217, 217, 1);
    --bg-primary: rgba(53, 0, 17, 1);
    --bg-secondary: rgba(82, 0, 26, 1);
    --bg-grey: rgba(53, 54, 54, 1);
    --card-transform: 0;
    --transition: transform 0.1s;
}

section {
    & div {
        max-width: 1200px;
    }
}

.img {
    width: 150px;
    height: auto;
}

#container_aventure {
    position: relative;
    transform: translateX(var(--card-transform));
    transition: var(--transition);
}

.cards {
    padding: 15px;
    text-align: center;
    width: 300px;
    display: flex;
    flex-direction: column;

    & span {
        font-size: 20px;
    }

    & p {
        margin-top: 5px;
        letter-spacing: 2px;
        font-weight: 700;
    }

    & img {
        width: 250px;
    }

}

.margin {
    margin-top: 30px;
}

.arrow {
    border: none;
    cursor: pointer;
    background-color: transparent;
    transition: background-color ease-out 0.5s;
    align-self: center;
    height: 250px;
    border-radius: 15px;
}

.arrow:hover {
    background-color: rgba(247, 246, 246, 0.137);
}